:root {
    --bg-color: #F9FBFA;
    --primary-color: #FFFFFF;
    --secondary-color: #EC441E;
    --input-border-color: #CCCCCC;
    --input-focus-border-color: #EC441E;
    --input-background-color: #FFFFFF;
    --input-text-color: #333333;
    --input-placeholder-color: #AAAAAA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header nav {
    gap: 12px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: .6rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
}


#ticketForm {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 1.2rem;
    max-width: 500px; /* Aumenta el ancho máximo del formulario */
    height: 300px;
    margin: 0 auto;
    border-radius: .7rem;
    position: relative; /* Añade posición relativa para el contenedor */
    text-align: center;
}

#ticketForm p {
    margin-bottom: 1rem;
}

#travelTime {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#seatSelection i {
    font-size: 2rem;
}

.time-button {
    padding: 10px;
    border: none;
    color: #333333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.time-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color); 
}

.time-button-select {
    background-color: var(--secondary-color);
    color: var(--primary-color); 
}

.hero__container {
    padding: 2rem;
    background-image: url('https://www.latamairlines.com/content/dam/latamxp/sites/destinos/chile/deals/scl-deals.jpg');
    background-size: cover;
}

.hero__text {
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 500px;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.4rem;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

input::placeholder {
    color: var(--input-placeholder-color);
}

.step {
    display: none;
}
.step.active {
    display: block;
}
.step-buttons {
    position: absolute; /* Posiciona los botones de manera absoluta */
    bottom: 20px; /* Fija los botones a 20px del fondo */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Asegura que los botones ocupen todo el ancho del contenedor */
    text-align: center; /* Centra los botones horizontalmente */
}
.step-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: .4rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seat {
    cursor: pointer;
    font-size: 24px;
    margin: 5px;
}
.selected {
    color: green;
}

.purchased {
    color: red;
}


.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.section-cards a {
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.hero__destinos {
    padding: 2rem;
}

.hero__destinos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
}


.destinos {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: wrap;
}

.destino-card {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 0 0 1rem 1rem;
}

.destino-card img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.destino-card-content {
    padding: 1rem;
}

.destino-card-content h4 {
    font-size: 1.2rem;
}

.destino-card-content p {
    font-size: 1rem;
    margin: .6rem 0;
}

.destino-card-content .badge {
    margin: 1rem 0;
}

.destino-card-content .badge span {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: .2rem 1rem;
    border-radius: .5rem;
}

.destino-card-content .badge .badge-active {
    background-color: rgb(255, 196, 0);
    color: var(--primary-color);

    padding: .2rem 1rem;
    border-radius: .5rem;
}

.destino-card-content .price > p {
    font-weight: 100;
}

.destino-card-content .prices > p {
    font-weight: 100;
}

.destino-card-content .prices > p span {
    font-weight: 500;
}

.hero__img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    padding: 1.7rem;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 2rem 0;
}
footer .columna h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

footer .columna h5, p{
    text-align: start;
    margin-bottom: 1rem;
}

footer .columna p:hover {
    color: var(--secondary-color);
    cursor: pointer;
}



@media only screen and (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }


    .section-cards {

        flex-wrap: wrap;
    }

    .destinos {
        flex-direction: column;
    }


}
  